.ryzen {
    margin: 40px 0;
  }
  
  .liquid {
    text-align: center;
    color: #04aa6d;
    font-size: 32px;
  }
  
  .zuxxy {
    text-align: center;
    font-size: 18px;
  }
  
  .luxxy {
    padding: 80px 0px;
    width: 100%;
    background-color: #282a35;
    color: white;
    margin: 16px 0;
  }
  
  .uhigh {
    float: left;
    width: 50%;
    text-align: center;
  }
  
  .redface {
    font-size: 100px;
  }
  
  .auro {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .microboy {
    border: none;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #04aa6d;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .nerpheko {
    border: none;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: white;
    color: black;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
    font-weight: 700;
  }
  
  .poteto {
    padding: 80px 0px;
    width: 100%;
    background-color: #d9eee1;
    color: black;
    margin: 16px 0;
  }
  
  .cisun {
    border: none;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: #04aa6d;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .hzlnuts {
    border: none;
    padding: 8px 16px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background-color: black;
    color: white;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
    font-weight: 700;
  }
  
  .renalre {
    text-align: center;
    background-color: #282a35;
    color: white;
    padding: 40px 0;
  }
  
  .badru {
    width: 450px;
  }